div {
    border: 1px solid #808080;
    /* width: 35%; */
    margin: auto;
    background-color: #ebebeb;
    overflow: hidden;
    padding: 10px; 
    /* min-width: 200px; */
}
.p1 {
    float: right;
    width: 50%;
    text-align: right; /*Alinéa el texto hacia la derecha */
}
.p2 {
    float: right;
    width: 50%;
}
a {
    text-decoration: none;
    color: black;
}

