

/* Tipos de Display: none, inline, block, inline-block */

/* Aplicamos valores para clases que empiezan por box */
[class^=box] {
    background-color: steelblue;
}
.box-0 {
    display: none;
}

p::first-letter {
    font-size: 2em;
}

/* Para volver la clase y el p de tipo bloack a inline, seleccionamos */
/* tanto las clases del div como los parrafos de dentro */
.box-5, .box-6, .box-5 p, .box-6 p  {
    display: inline;
}

/* Para convertir elementos a inline pero con ciertas características de  */
/* block como márgenes */

.box-3, .box-4, .box-3 p, .box-4 p {
    display: inline-block;   
}

.rectangle {
    background-color: teal;
    height: 50px;
    width: 25%;
}

/* Centrar horizontalmenete. Eje x */

.x-centered {
    margin: auto;
}

/* Posición relativa */

.post-relative {
    position: relative;
    top: -70px;
    z-index: -1;
}

/* Posición absoluta */

.post-absolute-parent {
    height: 300px;
    border: 15px solid tomato;
    position: relative;
}

/* Hay que quitarle left y top de la mitad del cuadrado para poder centrarlo ya  */
/* que el % empuja desde la posición */
.post-absolute-child {
    height: 50px;
    width: 50px;
    background-color: #333;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

/* Posición fixed */

.post-fixed {
    background-color: rgb(116, 113, 113);
    padding: 10px 20px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: 3px solid hotpink;
    z-index: 1;
    
    
}
.post-fixed>a {
    color: honeydew;
    text-decoration: none;
    
    
}

/* Posición sticky */
/* Para fijar la barra de navegación cuando el scroll lega a ella */

.post-sticky {
    background-color: steelblue;
    padding: 15px 25px;
    position: sticky;
    top: 0;
}
.post-sticky>a {
    text-decoration: none;
    color: white;
}

/* Posicionamiento flotante: divs dentro de otros divs */
/* Overflow: hidden para evitar eldesbordamiento de los hijos */
/* en el padre */
/* Clear: both permite que se comience en una nueva línea sin ocupar el espacio */
/* de los elementos flotantes */

.post-float-parent {
    border: 5px solid orange;
    overflow: hidden;
}

.post-float-child-1 {
    background-color: brown;
    height: 100px;
    width: 33.3%;
    float: right;
    
}

.post-float-child-2 {
    background-color: chartreuse;
    height: 100px;
    width: 33.3%;
    float: right
    
    
}

.post-float-child-3 {
    background-color: cornflowerblue;
    height: 100px;
    width: 33.3%;
    float: right;
    
}

.post-float-child-4 {
    background-color: darkgreen;
    height: 100px;
    width: 100%;
    clear: both;
}

/* Gestión del desbordamiento del contenido */
/* Hidden: oculta el desbordamiento */

[class^="overflow-parent"] {
    width: 200px;
    height: 100px;
    border: 3px dashed black;
    margin-bottom: 80px;

}

.overflow-parent-1 {
    overflow: hidden;
}
.overflow-parent-2 {
    overflow: visible;
}
.overflow-parent-3 {
    overflow: scroll;
}

/* Box-sizing */

.box-sizing-parent {
    height: 200px;
    width: 200px;
    border: 10px solid orange;
    background-color: palegoldenrod;
}
.box-sizing-child {
    width: 100%;
    height: 50px;
    background-color: grey;
    border: 10px solid darkolivegreen;
    /* Por defecto */
    box-sizing: content-box;
}

.border-box {
    margin-top: 10px;
    box-sizing: border-box;

}