div {
    border: 2px solid rgb(128, 128, 128);
    width: 35%;
    margin: auto;
    background-color: rgb(207, 206, 206);
    padding: 15px 3px; 
    position: relative;
    min-width: 200px;
}
.p1 {
    padding-left: 5px;
}

.p2 {
    position: absolute;
    right: 5px;
}
a {
    text-decoration: none;
    color: black;
}