div {
    border: 2px solid rgb(128, 128, 128);
    width: 25%;
    margin: auto;
    background-color: rgb(207, 206, 206);
}

div p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2%;
    margin-left: 2%;
}

.p2 {
    float: right;
}

