/* <h2>CSS Grid básico con media queries</h2> */

[class^= "grid-child"] {
    background-color: rgb(207, 98, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    /* las columnas con mínimo 160 y equitativamente como máximo */
    /* El auto-fit generará las columnas necesarias para que se cumpla la condición */
    /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */

    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

@media only screen and (max-width: 920px) {
    .grid-parent {
        grid-template-columns: 1fr 2fr;
    }
}

@media only screen and (max-width: 768px) {
    .grid-parent {
        grid-template-columns: 1fr;
    }
}

/* <h2>CSS Grid por líneas</h2> */

.grid-parent-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.grid-parent-2 > .grid-child-1 {
    grid-column: 1 / 3; /* De la línea 1 a la 3 */
    grid-row: 1; /*equivalente a grid row 1 /2;*/
}

.grid-parent-2 > .grid-child-2 {
    grid-column: 3;
    grid-row: 1 / 3;
}

.grid-parent-2 > .grid-child-3 {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    opacity: 0.5;
    z-index: -1;
}

.grid-parent-2 > .grid-child-4 {
    grid-column: 3;
    grid-row: 3;
}

.grid-parent-2 > .grid-child-5 {
    grid-column: 2 / 4;
    grid-row: 4;
}

.grid-parent-2 > .grid-child-6 {
    grid-column: 1;
    grid-row: 2;
}

/* <h2>CSS Grid por áreas</h2> */

.grid-parent-3 {
    display: grid;
    gap: 10px;


    /* Especificamos tamaño */
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    /* Ponemos . cuando queremos un espacio */
    grid-template-areas: ". nav ."
                         "content1 content2 content3"
                         "footer footer footer";

}

.grid-parent-3 > .grid-child-1 {
    grid-area: nav;
}
.grid-parent-3 > .grid-child-2 {
    grid-area: content1;
}
.grid-parent-3 > .grid-child-3 {
    grid-area: content2;
}
.grid-parent-3 > .grid-child-4 {
    grid-area: content3;
}
.grid-parent-3 > .grid-child-5 {
    grid-area: footer;
}



