ul {
    width: 200px;
    cursor: pointer;
    list-style-position: inside;
    list-style-image: url(Images/avance-rapido.png);
}

li {
    border: 1px solid #808080;
    background-color: #e7e7e7;
    padding: 5px;
}
li:hover {
    list-style-image: url(Images/avance-rapido\(1\).png);
    font-weight: bold;
    background-color: #b3b3b3;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
