* {
  background-color: rgb(243, 243, 243);
}

.App {
  text-align: center;
  margin: 0;
}

.App nav {
  justify-content: space-around;
  margin-bottom: 10px;
}

.App nav a {
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
}

nav .active:hover, nav .active:focus, nav .active:visited, nav .active:active{
  color: rgb(0, 250, 0) !important; 
}

.error, .index {
  font-size: 50px;
  margin-top: 40vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
