
* {
  font-family: Inter;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 223, 223);
}

.styles {
}

/* Login */

/* Tarjeta principal */
.login {
  background-color: #fff;
  width: 90%;

}
/* Imagen */
.image {
  background-image: url(Images/FotoLogin2.jpg);
  background-size: cover;
  height: 140px;
  background-position: center center;
  padding: 0;
}

/* Formulario Login */

.form {
  background-color: #fff;
  width: 100%;
  margin: auto;
}

.form label,
.form input {
  display: block;
  background-color: #fff;
}

.form input {
  border-radius: 5px;
}

.form a {
  text-decoration: none;
  display: block;
  margin-top: 5px;
}

.submit {
  width: 90%;
  margin-top: 15px;
  padding: 5px;
}

.submit2 {
  width: 90%;
  margin-top: 15px;
}





