
* {
  font-family: Inter, system-ui, Roboto, Helvetica, Arial;
  box-sizing: border-box;
}

:root {
  --purple-light: #7e3af2;
  --purple-dark: #6c2bd9;
  --orange-light: #feecdc;
  --orange-dark: #ff5a1f;
  --blue-light: #e1effe;
  --blue-dark: #3f83f8;
  --green-light: #def7ec;
  --green-dark: #0e9f6e;
  --teal-light: #d5f5f6;
  --teal-dark: #0694a2;
  --red-light: #fde8e8;
  --red-dark: #e02424;
  --gray-light: #f4f5f7;
  --gray-dark: #24262d;
  --gray-medium: #707070;
  }

body {
  background-color: var(--gray-light);
}

/* General styles */
.styles {
  background-color: #fff;
  border: 2px solid #f4f5f7;
  border-radius: 8px;
}

/* ---------------------- Login --------------------------- */

/* Main Card */
.login {
  width: 70%;
  margin: 15vh auto;
  box-shadow: 2px 2px 15px #cacaca;
  border-radius: 10px;
  padding: 0;
}
/* Image */
.image {
  background-image: url(Images/FotoLogin2.jpg);
  background-size: cover;
  height: 15vh;
  background-position: center center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Login Form */

.form {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form label,
.form input {
  display: block;
  background-color: #fff;
  width: 100%;
}
.form input {
  padding: 7px;
  margin-bottom: 10px;
}
.form label {
  padding: 5px; 
}

/* Login bottom */
.submitInput {
  width: 100%;
  background-color: var(--purple-dark);
  padding: 7px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submitInput:hover {
  cursor: pointer;
}
.transition-2:hover {
  transition: 0.2s ease-in;
  background-color: var(--purple-light);
}

/* Git Twitter bottoms */
.submit2 {
  width: 100%;
  margin-top: 15px;
  padding: 7px;
  font-weight: bold;
}
.submit2:hover {
  cursor: pointer;
}
.submit2 i {
  margin-right: 5px;
}

/* Links */
.links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 50%;
}
.form a {
  text-decoration: none;
  padding: 5px;
  color: var(--purple-light);
  font-weight: bold;
  font-size: 0.8em;
}

/* Tablet / PC Medias */

@media only screen and (min-width: 768px) {

  /* Tarjeta principal */
  .login {
    width: 700px;
    display: flex;
  }

  /* Imagen */
  .image {
    background-image: url(Images/FotoLogin1.jpg);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }
  
  /* Formulario Login */
  .form {
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}



/* ----------------------------- Index ---------------------------------- */
body {
  margin: 0;
}

/* Generic styles */
.p-10 {
  padding: 10px;
}
.p-5 {
  padding: 5px
}

/* Aside */
aside {
  display: none;
}
/* Main page except aside */

/* -------------------------Navigator-------------------- */
.navigator {
  display: flex;
  justify-content: space-around;
  box-shadow: 9px 2px 5px rgb(202, 202, 202);
  background-color: #fff;
  align-items: center;
}
.navigator i {
  color: var(--purple-light);
  cursor: pointer;
  font-size: 20px;
}
.transition{
  transition: transform 0.3s ease-in-out;
}
.transition:hover {
  transform: scale(1.4);
}

/* Searcher */
.search {
  background-color: var(--gray-light);
  border-radius: 5px;
  width: 70%;
}
.search i {
  padding-left: 5px;
}
.search input {
  border: none;
  background-color: var(--gray-light);
}
.search input::placeholder {
  font-family: FontAwesome, Inter;
  color: var(--gray-dark);
  font-size: 1.1em;
}
.search input:focus {
  border: 1px solid transparent;
  outline: none
}
/* Bell and image */
.bell-image {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.circle {
width: 12px;
height: 12px;
border-radius: 50%;
background-color: red;
position: relative;
top: -25px;
right: -10px;
} 
.bell-image img {
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------Main------------------- */
main {
  padding: 10px 20px 25px 20px;
}
main h2 {
  margin-bottom: 10px 0px;
}

/* View More */
.viewmore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--purple-light);
  color: #fff;
  border-radius: 8px;
  padding: 0 5px;
}
.viewmore i {
  color: #fff;
}
.viewmore1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewmore2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ------------------- Icons Section ----------------- */

.section {

}
[class^="container"] {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  background-color: #fff;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 65px 1fr;
  align-items: center;
}

/* Icons */
[class^="container"] i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container-1 i {
  color: var(--orange-dark);
  background-color: var(--orange-light);  
}
.container-2 i {
  color: var(--green-dark);
  background-color: var(--green-light);
}
.container-3 i {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}
.container-4 i {
  color: var(--teal-dark);
  background-color: var(--teal-light);
}

[class^="container"] p:nth-child(2) {
  font-weight: bold;
}

/* -------------------- Table section ---------------- */

table {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  border: 3px solid #f0f0f0;
  border-radius: 10px;
}

/* Header Table */
table th {
  text-align: left;
  color: var(--gray-medium);
  background-color: var(--gray-light);
}
table th:first-child {
  padding: 10px;
}

/* Rest Table */
table td {
  border-bottom: 3px solid var(--gray-light);
}

/* Client */
.person {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.person img {
  margin-right: 15px;
  height: 50px;
  border-radius: 50%;
  display: none;
}
.person p {
  margin-left: 5px;
  padding-bottom: 0;
}
/* Names */
.person p:first-child {
  font-weight: bold;
}
/* Status */
tr:nth-child(2) td:nth-child(3) p,
tr:nth-child(4) td:nth-child(3) p,
tr:nth-child(6) td:nth-child(3) p,
tr:nth-child(7) td:nth-child(3) p,
tr:nth-child(8) td:nth-child(3) p,
tr:nth-child(9) td:nth-child(3) p {
  color: var(--green-dark);
  font-weight: bold;
  background-color: var(--green-light);
  padding: 3px;
  text-align: center;
  width: 90px;
  border-radius: 10px;
}

tr:nth-child(3) td:nth-child(3) p {
  color: var(--red-dark);
  font-weight: bold;
  background-color: var(--red-light);
  padding: 3px;
  text-align: center;
  width: 90px;
  border-radius: 10px;
}

tr:nth-child(5) td:nth-child(3) p {
  color: var(--gray-dark);
  font-weight: bold;
  background-color: var(--gray-light);
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  width: 90px;
}

/* -------------------- Footer -----------------*/
footer {
  background-color: var(--gray-light);
  padding: 10px 20px;
  border: 3px solid #f0f0f0;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* Showing */
.footer-1 {
  font-weight: bold;
  color: var(--gray-medium);
}
/* Pagination */
.footer-2 {
  display: flex;
  align-items: center;
  color: var(--gray-medium);
}

.footer-2 i {
  color: var(--gray-medium);
}
.footer-2 p {
  margin: 10px;
  color: var(--gray-medium);
  cursor: pointer;
  padding: 3px 8px;
}
.footer-2 p:nth-child(2) {
  font-weight: bold;
 }
.footer-2 p:hover {
  background-color: var(--purple-dark);
  color: #fff;
  border-radius: 5px;
  padding: 3px 8px;
}

/* Tablet Small PC Medias */

@media only screen and (min-width: 850px) {

  /* Body 2 */
  .body-2 {
    display: grid;
    grid-template: 1fr / 275px 2fr; 
  }

  /* Aside */
  aside {
    background-color: #fff;
    grid-column: 1;
    display: block;
  }

  /* Title with Image */
  .start {
    display: flex;
    align-items: center;
  }
  .start img {
    height: 20px;
    margin-right: 5px;
  }

  /* Aside list */

  .start {
    padding-left: 55px;
    cursor: pointer;
  }
  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }

  .icon-aside {
    width: 17px;
  }
  .icon-aside i {
    color: var(--gray-medium);
    padding-left: 15px;
  }
  li p {
    padding-left: 25px;
    font-weight: bold;
    color: var(--gray-medium);
  }
 
  li:hover {
    border-left: 5px solid var(--purple-dark);
  }
  li:hover> * {
    color: #050505;
  }

  /* Add product */
  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: var(--purple-dark);
    border-radius: 10px;
    padding: 0px 10px;
    margin: 15px auto;
    cursor: pointer;
  }
  .product p {
    color: #fff;
    font-weight: normal;
  }
  .product i {
    color: #fff;
    font-size: 0.6em;
  }

  /* Main page except aside */
  .bigmain {
    grid-column: 2;
  }

  /* Navigator */
  .navigator {
    justify-content: space-between;
  }
  .transition {
    display: none;
  }
  .search {
    width: 60%;
    margin-left: 150px;
  }

  /* Icons Section */
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
  }
  [class^="container"] {
    margin-right: 5px;
  }
  .container-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .container-2 {
    grid-column: 2;
    grid-row: 1;
  }
  .container-3 {
    grid-column: 1;
    grid-row: 2;
  }
  .container-4 {
    grid-column: 2;
    grid-row: 2;
  }

  /* Table section */
  /* Table Images */
  .person {
    padding-left: 10px;
  }
  .person img {
    display: block;
  }

  /* Footer */
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1300px) {

  /* Navegador */
  .search {
    width: 50%;
  }

  /* Icons Section */
  .section {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  [class^="container"] {
    width: 90%;
    margin-right: 5px;
  }
}












